{% for categoria in categorias %}
<div class="col-md-4 mb-4">
    <div class="card">
        <h5 class="card-title">{{ categoria.id }}</h5>
        <h5 class="card-title">{{ categoria.nombre }}</h5>
        <div class="card-body">
            <h5 class="card-text">{{ categoria.descripcion }}</h5>
            {% if categoria.foto %}
            <img src="{{ categoria.foto.url }}" alt="Foto de la categoria" class="img-thumbnail" width="100" height="auto">
            {% else %}
            <span class="text-muted">No disponible</span>
            {% endif %}
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <div>
                <a class="btn btn-warning btn-sm" href="{% url 'editarCategoria' categoria.id %}"><i class="bi bi-pencil-square"></i> Editar</a>
                <a class="btn btn-danger btn-sm" href="{% url 'eliminarCategoria' categoria.id %}"><i class="bi bi-trash3-fill"></i> Eliminar</a>
            </div>
            {% endif %}
            {% endif %}
            <a href="{% url 'hoteles1' %}" class="btn btn-primary">Ver Categorías</a>
        </div>
    </div>
</div>
{% empty %}
<div class="col-12">
    <p class="text-center">No se encontraron categorías</p>
</div>
{% endfor %}
