{% extends "base.html" %}

{% block contenido %}
<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Confirmar Eliminación de Hotel</h2>
                    <div class="alert alert-danger h5">
                        ¿Estás seguro de que quieres eliminar el hotel {{ hotel.nombre }}?
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row mt-4">
                            <div class="col text-center">
                                <a href="{% url 'hoteles1' %}" class="btn btn-primary">Cancelar</a>
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-danger" type="submit">Confirmar Eliminación</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
